automation process/prep/workflow/gameplay-autoposter.workflow.json
{
  "name": "Gameplay Auto-Poster",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "minutes", "minutesInterval": 1 } ] } },
      "id": "n-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-200, 0]
    },
    {
      "parameters": { "method": "POST", "url": "http://helper:8000/claim", "options": {} },
      "id": "n-claim",
      "name": "Claim Clip",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "conditions": [ { "id": "c-empty", "leftValue": "={{ $json.empty }}", "rightValue": "", "operator": { "type": "boolean", "operation": "false", "singleValue": true } } ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n-gotclip",
      "name": "Got a clip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [200, 0]
    },
    {
      "parameters": { "method": "POST", "url": "http://helper:8000/probe", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ ({ path: $json.path }) }}", "options": {} },
      "id": "n-probe",
      "name": "Probe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "assignments": { "assignments": [
          { "id": "a-jobId", "name": "jobId", "value": "={{ $('Claim Clip').item.json.jobId }}", "type": "string" },
          { "id": "a-name", "name": "name", "value": "={{ $('Claim Clip').item.json.name }}", "type": "string" },
          { "id": "a-path", "name": "path", "value": "={{ $('Claim Clip').item.json.path }}", "type": "string" },
          { "id": "a-dur", "name": "duration", "value": "={{ $json.duration }}", "type": "number" },
          { "id": "a-w", "name": "width", "value": "={{ $json.width }}", "type": "number" },
          { "id": "a-h", "name": "height", "value": "={{ $json.height }}", "type": "number" }
        ] },
        "options": {}
      },
      "id": "n-jobinfo",
      "name": "Job Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [600, 0]
    },
    {
      "parameters": {
        "assignments": { "assignments": [
          { "id": "cfg-auto", "name": "autoApprove", "value": true, "type": "boolean" },
          { "id": "cfg-len", "name": "clipLen", "value": 15, "type": "number" },
          { "id": "cfg-method", "name": "postMethod", "value": "graph", "type": "string" },
          { "id": "cfg-iguser", "name": "igUserId", "value": "PUT_YOUR_IG_USER_ID", "type": "string" },
          { "id": "cfg-base", "name": "publicBase", "value": "https://PUT-YOUR-TUNNEL.trycloudflare.com", "type": "string" },
          { "id": "cfg-game", "name": "game", "value": "Valorant", "type": "string" }
        ] },
        "options": {}
      },
      "id": "n-config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [800, 0]
    },
    {
      "parameters": { "method": "POST", "url": "http://helper:8000/candidates", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ ({ path: $('Job Info').item.json.path, jobId: $('Job Info').item.json.jobId, clipLen: $('Config').item.json.clipLen, count: 4, minGap: 8 }) }}", "options": { "timeout": 300000 } },
      "id": "n-candidates",
      "name": "Find Best Moments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 0]
    },
    {
      "parameters": { "jsCode": "const res = $input.first().json; const cands = res.candidates || []; if (!cands.length) { throw new Error('No candidates found'); } const best = cands[0]; const job = $('Job Info').first().json; return [{ json: { jobId: job.jobId, name: job.name, path: job.path, start: best.start, end: best.end, visionScore: best.vision_score, loudPeak: best.peak, reason: best.reason, allCandidates: cands } }];" },
      "id": "n-pickbest",
      "name": "Pick Best",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 0]
    },
    {
      "parameters": {
        "assignments": { "assignments": [
          { "id": "ch-jobId", "name": "jobId", "value": "={{ $json.jobId }}", "type": "string" },
          { "id": "ch-name", "name": "name", "value": "={{ $json.name }}", "type": "string" },
          { "id": "ch-path", "name": "path", "value": "={{ $json.path }}", "type": "string" },
          { "id": "ch-start", "name": "start", "value": "={{ $json.start }}", "type": "number" },
          { "id": "ch-end", "name": "end", "value": "={{ $json.end }}", "type": "number" },
          { "id": "ch-reason", "name": "reason", "value": "={{ $json.reason }}", "type": "string" }
        ] },
        "options": {}
      },
      "id": "n-chosen",
      "name": "Chosen Clip",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1400, 0]
    },
    {
      "parameters": { "method": "POST", "url": "http://helper:8000/render", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ ({ path: $json.path, jobId: $json.jobId, start: $json.start, end: $json.end }) }}", "options": { "timeout": 300000 } },
      "id": "n-render",
      "name": "Render",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 0]
    },
    {
      "parameters": {
        "assignments": { "assignments": [
          { "id": "rl-jobId", "name": "jobId", "value": "={{ $('Chosen Clip').item.json.jobId }}", "type": "string" },
          { "id": "rl-name", "name": "name", "value": "={{ $('Chosen Clip').item.json.name }}", "type": "string" },
          { "id": "rl-out", "name": "out_rel", "value": "={{ $json.out_rel }}", "type": "string" },
          { "id": "rl-url", "name": "out_url", "value": "={{ $json.out_url }}", "type": "string" },
          { "id": "rl-dur", "name": "duration", "value": "={{ $json.duration }}", "type": "number" }
        ] },
        "options": {}
      },
      "id": "n-reel",
      "name": "Reel",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1800, 0]
    },
    {
      "parameters": { "method": "GET", "url": "http://helper:8000/config", "options": {} },
      "id": "n-getconfig",
      "name": "Get Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 0]
    },
    {
      "parameters": { "method": "POST", "url": "http://host.docker.internal:11434/api/generate", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ ({ model: 'llama3.1:8b', stream: false, format: 'json', prompt: 'Write an Instagram Reel caption for the game ' + $('Config').item.json.game + '. Clip vibe: ' + $('Chosen Clip').item.json.reason + '. Tone hype and punchy, max 2 emojis. Choose 12 to 18 relevant hashtags from ' + JSON.stringify($('Get Config').item.json.hashtags) + ' and include mentions ' + JSON.stringify($('Get Config').item.json.style.always_mention) + '. Respond as strict JSON with keys caption, hashtags (array of strings), mentions (array of strings).' }) }}", "options": { "timeout": 120000 } },
      "id": "n-caption",
      "name": "Write Caption",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 0]
    },
    {
      "parameters": { "jsCode": "const raw = $json.response; let parsed; try { parsed = JSON.parse(raw); } catch (e) { parsed = { caption: raw, hashtags: [], mentions: [] }; } const style = ($('Get Config').first().json.style) || {}; const reel = $('Reel').first().json; const tags = [...new Set((parsed.hashtags || []).map(t => t.charAt(0) === '#' ? t : '#' + t))].slice(0, 30); const mentions = [...new Set([...(parsed.mentions || []), ...((style.always_mention) || [])])]; const fullCaption = [parsed.caption, '', mentions.join(' '), '', tags.join(' ')].join('\\n').trim(); return [{ json: { jobId: reel.jobId, name: reel.name, out_rel: reel.out_rel, out_url: reel.out_url, caption: parsed.caption, hashtags: tags, mentions, fullCaption } }];" },
      "id": "n-assemble",
      "name": "Assemble Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 0]
    },
    {
      "parameters": {
        "assignments": { "assignments": [
          { "id": "pt-jobId", "name": "jobId", "value": "={{ $json.jobId }}", "type": "string" },
          { "id": "pt-out", "name": "out_rel", "value": "={{ $json.out_rel }}", "type": "string" },
          { "id": "pt-url", "name": "out_url", "value": "={{ $json.out_url }}", "type": "string" },
          { "id": "pt-cap", "name": "fullCaption", "value": "={{ $json.fullCaption }}", "type": "string" }
        ] },
        "options": {}
      },
      "id": "n-posttext",
      "name": "Post Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2600, 0]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
                "conditions": [ { "id": "sw-graph", "leftValue": "={{ $('Config').item.json.postMethod }}", "rightValue": "graph", "operator": { "type": "string", "operation": "equals" } } ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
                "conditions": [ { "id": "sw-insta", "leftValue": "={{ $('Config').item.json.postMethod }}", "rightValue": "instagrapi", "operator": { "type": "string", "operation": "equals" } } ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "n-switch",
      "name": "Post Method",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [2800, 0]
    },
    {
      "parameters": { "method": "POST", "url": "=https://graph.facebook.com/v21.0/{{ $('Config').item.json.igUserId }}/media", "sendQuery": true, "queryParameters": { "parameters": [ { "name": "media_type", "value": "REELS" }, { "name": "video_url", "value": "={{ $('Config').item.json.publicBase + '/files/' + $('Post Text').item.json.out_rel }}" }, { "name": "caption", "value": "={{ $('Post Text').item.json.fullCaption }}" } ] }, "options": {} },
      "id": "n-igcreate",
      "name": "IG Create Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3000, -120]
    },
    {
      "parameters": { "resume": "timeInterval", "amount": 30, "unit": "seconds" },
      "id": "n-wait",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3200, -120]
    },
    {
      "parameters": { "method": "POST", "url": "=https://graph.facebook.com/v21.0/{{ $('Config').item.json.igUserId }}/media_publish", "sendQuery": true, "queryParameters": { "parameters": [ { "name": "creation_id", "value": "={{ $('IG Create Container').item.json.id }}" } ] }, "options": {} },
      "id": "n-igpublish",
      "name": "IG Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3400, -120]
    },
    {
      "parameters": { "method": "POST", "url": "http://helper:8000/post_reel", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ ({ out_rel: $('Post Text').item.json.out_rel, caption: $('Post Text').item.json.fullCaption }) }}", "options": { "timeout": 300000 } },
      "id": "n-ighelper",
      "name": "IG Post via Helper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3000, 160]
    },
    {
      "parameters": { "method": "POST", "url": "http://helper:8000/archive", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ ({ jobId: $('Post Text').item.json.jobId }) }}", "options": {} },
      "id": "n-archive",
      "name": "Archive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3600, 0]
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [ [ { "node": "Claim Clip", "type": "main", "index": 0 } ] ] },
    "Claim Clip": { "main": [ [ { "node": "Got a clip?", "type": "main", "index": 0 } ] ] },
    "Got a clip?": { "main": [ [ { "node": "Probe", "type": "main", "index": 0 } ], [] ] },
    "Probe": { "main": [ [ { "node": "Job Info", "type": "main", "index": 0 } ] ] },
    "Job Info": { "main": [ [ { "node": "Config", "type": "main", "index": 0 } ] ] },
    "Config": { "main": [ [ { "node": "Find Best Moments", "type": "main", "index": 0 } ] ] },
    "Find Best Moments": { "main": [ [ { "node": "Pick Best", "type": "main", "index": 0 } ] ] },
    "Pick Best": { "main": [ [ { "node": "Chosen Clip", "type": "main", "index": 0 } ] ] },
    "Chosen Clip": { "main": [ [ { "node": "Render", "type": "main", "index": 0 } ] ] },
    "Render": { "main": [ [ { "node": "Reel", "type": "main", "index": 0 } ] ] },
    "Reel": { "main": [ [ { "node": "Get Config", "type": "main", "index": 0 } ] ] },
    "Get Config": { "main": [ [ { "node": "Write Caption", "type": "main", "index": 0 } ] ] },
    "Write Caption": { "main": [ [ { "node": "Assemble Post", "type": "main", "index": 0 } ] ] },
    "Assemble Post": { "main": [ [ { "node": "Post Text", "type": "main", "index": 0 } ] ] },
    "Post Text": { "main": [ [ { "node": "Post Method", "type": "main", "index": 0 } ] ] },
    "Post Method": { "main": [ [ { "node": "IG Create Container", "type": "main", "index": 0 } ], [ { "node": "IG Post via Helper", "type": "main", "index": 0 } ] ] },
    "IG Create Container": { "main": [ [ { "node": "Wait", "type": "main", "index": 0 } ] ] },
    "Wait": { "main": [ [ { "node": "IG Publish", "type": "main", "index": 0 } ] ] },
    "IG Publish": { "main": [ [ { "node": "Archive", "type": "main", "index": 0 } ] ] },
    "IG Post via Helper": { "main": [ [ { "node": "Archive", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
